 /* select starting stylings ------------------------------*/
 .select {
     font-family:
         'Lato', 'Roboto', 'Helvetica', 'Arial', sans-serif;
     position: relative;
     width: 350px;
     height: 56px;
     border: 1px solid var(--neutral_500);
     border-radius: 8px;
     background-color: #fff;
 }

 .select-text {
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
     position: absolute;
     height: 56px;
     padding: 0px 16px;
     padding-top: 16px;
     font-family: inherit;
     background-color: transparent;
     width: 100%;
     color: var(--neutral_700);
     font-size: 16px;
     border-radius: 8px;
     border: none;

     background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' color='red' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.9999 14.8941L3.49365 8.38164L5.25616 6.61914L9.9999 11.3566L14.7437 6.61914L16.5062 8.38164L9.9999 14.8941Z' fill='%23FF1C44'/%3E%3C/svg%3E");
     background-repeat: no-repeat;
     background-position-x: calc(100% - 16px);
     background-position-y: calc(100% - 20px);
     background-size: 20px;
 }

 /* Remove focus */
 .select-text:focus {
     outline: none;
     /* border-bottom: 1px solid rgba(0,0,0, 0); */
 }

 /* Use custom arrow */
 .select .select-text {
     appearance: none;
     -webkit-appearance: none
 }

 .select:after {
     position: absolute;
     top: 28px;
     right: 10px;
     /* Styling the down arrow */
     width: 0;
     height: 0;
     padding: 0;
     content: '';
     border-left: 6px solid transparent;
     border-right: 6px solid transparent;
     border-top: 6px solid rgba(0, 0, 0, 0.12);
     pointer-events: none;
 }


 /* LABEL ======================================= */
 .select-label {
     color: rgba(0, 0, 0, 0.26);
     font-size: 16px;
     font-weight: normal;
     position: absolute;
     pointer-events: none;
     left: 16px;
     top: 16px;
     transition: 0.2s ease all;
 }

 /* active state */
 .select-text:focus~.select-label, .select-text:valid~.select-label {
     color: var(--neutral_600);
     top: 8px;
     transition: 0.2s ease all;
     font-size: 12px;
 }

 /* BOTTOM BARS ================================= */
 .select-bar {
     position: relative;
     display: block;
     width: 350px;
 }

 .select-bar:before {
     left: 50%;
 }

 .select-bar:after {
     right: 50%;
 }

 /* active state */
 .select-text:focus~.select-bar:before, .select-text:focus~.select-bar:after {
     width: 50%;
 }

 /* HIGHLIGHTER ================================== */
 .select-highlight {
     /* position: absolute; */
     height: 100%;
     width: 100%;
     /* top: 25%;
      left: 16px; */
     pointer-events: none;
     opacity: 0.5;
 }